{% extends 'base.html' %}
{% load static %}
{% block title %}天狗商城-首页{% endblock title %}
{% block topfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock topfiles %}
{% block body %}
	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">商品分类</h1>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01">手机</a></li>
			<li><a href="#model02">电脑</a></li>
			<li><a href="#model03">男装</a></li>
			<li><a href="#model04">女装</a></li>
		</ul>

		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide02.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide03.jpg" alt="幻灯片"></li>
				<li><img src="/static/images/slide04.jpg" alt="幻灯片"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

    <div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">电脑</h3>
			
			<a href="/good/list/{{tid1}}/{{num}}/" class="goods_more fr" id="fruit_more">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src={{d}}></div>
			<ul class="goods_list fl">
			    {%for cgood in c_list%}
				<li>
					<h4><a href="/good/detail/{{cgood.g_id}}/">{{cgood.g_name}}</a></h4>
					<a href="/good/detail/{{cgood.g_id}}"><img src={{cgood.g_picture}}></a>
					<div class="prize">¥ {{cgood.g_price}}</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">手机</h3>
			
			<a href="/good/list/{{tid2}}/{{num}}/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src={{r}}></div>
			<ul class="goods_list fl">
			{% for pgood in p_list %}
				<li>
					<h4><a href="/good/detail/{{pgood.g_id}}/">{{pgood.g_name}}</a></h4>
					<a href="/good/detail/{{pgood.g_id}}/"><img src={{pgood.g_picture}}></a>
					<div class="prize">¥ {{pgood.g_price}}</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">男装</h3>
	
			<a href="/good/list/{{tid3}}/{{num}}/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src={{r}}></div>
			<ul class="goods_list fl">
				{% for mgood in m_list %}
				<li>
					<h4><a href="/good/detail/{{mgood.g_id}}/">{{mgood.g_name}}</a></h4>
					<a href="/good/detail/{{mgood.g_id}}/"><img src={{mgood.g_picture}}></a>
					<div class="prize">¥ {{mgood.g_price}}</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">女装</h3>
			
			<a href="/good/list/{{tid4}}/{{num}}/" class="goods_more fr">查看更多 ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src={{r}}></div>
			<ul class="goods_list fl">
				{% for wgood in w_list %}
				<li>
					<h4><a href="/good/detail/{{wgood.g_id}}/">{{wgood.g_name}}</a></h4>
					<a href="/good/detail/{{wgood.g_id}}/"><img src={{wgood.g_picture}}></a>
					<div class="prize">¥ {{wgood.g_price}}</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock body %}
