{% extends 'base.html' %}
{% load static%}
{% block title %}天狗商城-登录{% endblock title %}
{% block header_con %}{% endblock header_con %}
{% block search_bar %}{% endblock search_bar %}
{% block body %}
	<div class="login_top clearfix">
		<a href="/" class="login_logo"><img src="/static/images/logo02.jpg"></a>
	</div>
	<div class="login_form_bg">
		<div class="login_form_wrap clearfix">
			<div class="login_banner fl"></div>
			<div class="slogan fl">日夜兼程 · 急速送达</div>
			<div class="login_form fr">
				<div class="admin_login">
					<a href="http://127.0.0.1:8000/admin/">管理员登录</a>	{#加链接#}
				</div>
				<div class="login_title clearfix">
					<h1>用户登录</h1>
					<a href="/user/register/">立即注册</a> {#加链接#}
				</div>
				<div class="form_input">
                    {# 不设置表单action时，提交表单时，会向浏览器地址栏中的地址提交数据 #}
					<form  action='/user/login/' method="post">
                        {% csrf_token %}
						<input type="text" name="username" class="name_input" value="{{ username }}" placeholder="请输入用户名">
						<div class="user_error">输入错误</div>
						<input type="password" name="password" class="pass_input" placeholder="请输入密码">
						<span >{{error_msg}}</span>
						<div class="pwd_error">输入错误</div>
						<input type="submit" name="" value="登录" class="input_submit" >
						<p style="color:red;" ><span>{{error_msg}}</span></p>
 
						
					</form>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br><br><br><br>
					<p style="color:red;text-align:center" ><span>{{error_msg}}</span></p>
				</div>
			</div>
		</div>
	</div>

 
{% endblock body %}