{% extends 'base_user_center.html' %}
{% load static %}
{% block right_content %}
		<div class="right_content clearfix">
                {% csrf_token %}
				<h3 class="common_title2">全部订单</h3>
                {% for order in orderlist %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.time }}</li>
					<li class="col02">订单号：{{ order.o_id }}</li>
					
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                               
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{ order.getGood.g_picture }}"></li>
									<li class="col02">{{ order.getGood.g_name }}</li>
									<li class="col03">{{ order.o_number }}</li>
									<li class="col04">{{ order.getGood.g_price }}元</li>
								</ul>
							
							</td>
							<td width="15%">{{ order.price }}元</td>
                            {%if order.pay_status%}
							<td width="15%">已付款</td>
							<td width="15%"><a href="/order/logistics/"  class="oper_btn">查看物流</a></td>
                            {%else%}
                            <td width="15%">待付款</td>
							<td width="15%"><a href="/user/placeorder/{{order.o_id}}/"  class="oper_btn">去付款</a></td>
                            {%endif%}
						</tr>
					</tbody>
				</table>
				{% endfor %}
				<div class="pagenation">
                    {% if orderlist.has_previous %}
					<a href="/user/order/{{orderlist.previous_page_number}}/">上一页</a>
                    {% endif %}
                    {% for pindex in pagelist %}
                        {% if pindex == orderlist.number %}
					        <a href="/user/order/{{pindex}}/" class="active">{{ pindex }}</a>
                        {% else %}
					        <a href="/user/order/{{pindex}}/">{{ pindex }}</a>
                        {% endif %}
					{% endfor %}
                    {% if orderlist.has_next %}
					<a href="/user/order/{{orderlist.next_page_number}}/">下一页</a>
                    {% endif %}
				</div>
		</div>
{% endblock right_content %}
{% block bottomfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
    $('.oper_btn').each(function () {
        // 获取支付状态
        status = $(this).attr('status')
        if (status == 1){
            $(this).text('去支付')
        }
        else if (status == 4){
            $(this).text('去评价')
        }
        else if (status == 5){
            $(this).text('已完成')
        }
    })

    $('.oper_btn').click(function () {
        // 获取status
        status = $(this).attr('status')
        // 获取订单id
        order_id = $(this).attr('order_id')
        if (status == 1){
            // 进行支付
            csrf = $('input[name="csrfmiddlewaretoken"]').val()
            // 组织参数
            params = {'order_id':order_id, 'csrfmiddlewaretoken':csrf}
            // 发起ajax post请求，访问/order/pay, 传递参数:order_id
            $.post('/order/pay', params, function (data) {
                if (data.res == 3){
                    // 引导用户到支付页面
                    window.open(data.pay_url)
                    // 浏览器访问/order/check, 获取支付交易的结果
                    // ajax post 传递参数:order_id
                    $.post('/order/check', params, function (data){
                        if (data.res == 3){
                            alert('支付成功')
                            // 刷新页面
                            location.reload()
                        }
                        else{
                            alert(data.errmsg)
                        }
                    })
                }
                else{
                    alert(data.errmsg)
                }
            })
        }
        else if (status == 4){
            // 其他情况
            // 跳转到评价页面
            location.href = '/order/comment/'+order_id
        }
    })
    </script>
{% endblock bottomfiles %}